.P-nav{
    font-size: 20px;
    font-weight: bold;
}
.nav{
    background-color: rgb(15, 15, 15);
}
.logo{
    width: 500px;
    height: 80px;

    margin: 0px 200px;
}
.iconsanwech{
    border: solid rgb(255, 251, 251);
    color: rgb(255, 254, 254);
    margin: 0px;
}
.div-imput{
    margin: 0pc 20px;
    border: red solid;
}
li{
  list-style: none;
  margin: 0px 15px;
  color: white;
}

.subnav{

    background-color: rgb(207, 17, 17);
    justify-content: center;
    width: 100%;  
    height: 30px;
}

.input{

    background-color: rgb(255, 255, 255);
    width: 170px;
    height: 30px;
    margin: 0px 10px;
   border: none;
    border-radius: 10px;
    align-items: center;
    display: flex;
}
.buttonnav {

    border: solid white 2px;
    color: white;
    padding: 6px 8px;
    margin-left:20px ;

   border-radius: 10px;
    cursor: pointer;
}
.buttonnav:hover{
    background-color: white;
    color: black;
}